# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/

# Flask
instance/*.db
instance/*.sqlite
instance/*.sqlite3

# Cache
app/cache/*
!app/cache/.gitkeep

# Uploaded media (keep folder, ignore files)
app/static/uploads/*
!app/static/uploads/.gitkeep

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
