<ul class="nav flex-column">

    <li class="nav-item">
        <a class="nav-link text-white" href="{{ url_for('admin.dashboard') }}">
            Dashboard
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-white" href="{{ url_for('admin.posts') }}">
            Posts
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-white" href="{{ url_for('admin.categories') }}">
            Categories
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-white" href="{{ url_for('admin.media') }}">
            Media
        </a>
    </li>

     <li class="nav-item">
        <a class="nav-link text-white" href="{{ url_for('admin.cache_dashboard') }}">
            Cache
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-white" href="{{ url_for('admin.settings') }}">
            Settings
        </a>
    </li>

    <li class="nav-item mt-3">
        <a class="nav-link text-danger" href="{{ url_for('admin.logout') }}">
            Logout
        </a>
    </li>

</ul>
